<template name="Event_Card">

  <div class="card">
    <div class="content">
      <img class="right floated mini ui image" src="{{ event.image }}">
      <div class="header">
        {{ event.name }}
      </div>
      <div class="meta">
        {{ event.location }}
        {{ event.date }}
        {{ event.time }}
      </div>
      <div class="description">
        {{ event.description }}
      </div>
      <div style="margin-top: 10px">
        {{#each interest in event.interests}}
          <a style="margin-bottom: 2px" class="ui teal tag small label">{{interest}}</a>
        {{/each}}
      </div>
    </div>
    <div class="extra content">
      <div class="ui equal width left aligned grid">
        <div class="column"><a href="mailto:{{ event.username}}@hawaii.edu"><i class="big mail icon"></i></a></div>
      </div>
    </div>
  </div>

</template>