<template name="Event_Card">

  <div class="card">
    <div class="content">
      <img class="right floated medium ui image" src="{{ event.image }}">
      <div class="header">
        {{ event.title }}
      </div>
      <div class="meta">
        {{ event.location }}
        {{ event.date }}
        <br>
        {{ event.start }}
      </div>
      <hr>
      <div class="description">
        {{ event.description }}
      </div>
      <hr>
      <div class="attendance">
        {{ event.peopleGoing }}
      </div>
      <div style="margin-top: 10px">
        {{#each interest in event.interests}}
          <a style="margin-bottom: 2px" class="ui teal tag small label">{{interest}}</a>
        {{/each}}
      </div>
    </div>
    <div class="extra content">
      <div class="ui equal width left aligned grid">
        <div class="column"><a href="mailto:{{ event.owner }}@hawaii.edu"><i class="big mail icon"></i></a></div>
        <div class="column">
          <div class="ui tiny blue button">
            {{#if RSVP }}
              <div class="join-event">Join</div>
            {{else}}
              <div class="leave-event">Leave</div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>

</template>