<template name="User_Header">
  <div class="ui top fixed borderless blue inverted menu">
    <div class="ui container">
      <img class="ui image item" src="images/header-logo.png">
      <a class="{{isActiveRoute "Profile_Page"}} right aligned item"
         href="{{pathFor "Profile_Page" username=routeUserName}}"><i class="user icon"></i>Profile</a>
      <a class="{{isActiveRoute "Filter_Page"}} item" href="{{pathFor "Filter_Page" username=routeUserName}}"><i
          class="filter icon"></i>Filter</a>
      <a class="{{isActiveRoute "Event_Create_Page"}} item"
         href="{{pathFor "Event_Create_Page" username=routeUserName}}"><i class="add to calendar icon"></i>Event</a>
      <a class="{{isActiveRoute "Event_List_Page"}} item"
         href="{{pathFor "Event_List_Page" username=routeUserName}}"><i class="browser icon"></i>List of Events</a>
      <div class="item">{{> Cas_Login }}</div>
    </div>
  </div>
</template>