<template name="User_Header">
  <div class="ui top fixed borderless blue inverted menu">
    <div class="ui container">
      <img class="ui image item" src="/images/header-logo.png">
      <a class="{{isActiveRoute "Calendar_Page"}} right item" href="{{pathFor "Calendar_Page" username=routeUserName}}"><i
          class="calendar icon"></i>Calendar</a>
      <a class="{{isActiveRoute "Event_Create_Page"}} item"
         href="{{pathFor "Event_Create_Page" username=routeUserName}}"><i class="add to calendar icon"></i>Create Event</a>
      <a class="{{isActiveRoute "Event_List_Page"}} item"
         href="{{pathFor "Event_List_Page" username=routeUserName}}"><i class="browser icon"></i>Events List</a>
      <div class="item">{{> Cas_Login }}</div>
    </div>
  </div>
</template>