.ui.topmenu.inverted.menu {
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.background {
  background-image: url("http://images.kuoni.co.uk/73/kauai-40591430-1483623716-ImageGalleryLightboxLarge.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}

.logo {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}